<form>
    <div class="row">
        <div class="col-xs-3">
            <md-select placeholder="Favorite food" name="food">
                <md-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-3">
            <md-select placeholder="Favorite food" name="food">
                <md-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-3">
            <md-select placeholder="Favorite food" name="food">
                <md-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </md-option>
            </md-select>
        </div>
        <div class="col-xs-3">
            <md-select placeholder="Favorite food" name="food">
                <md-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                </md-option>
            </md-select>
        </div>
    </div>
</form>
